<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="visaUrl" value="https://sandbox.api.visa.com/" />
    <add key="cert" value="C:/Users/asad/Desktop/VisaDirectAPI/myProject_keyAndCertBundle.p12" />
    <add key="password" value="J4Tj368Pk331c6V" />
    <add key="certPassword" value="" />
    <add key="userId" value="SRJTIUUO636TAHMT31QE21FQFOostLQStI-qAKi_oFCT29hJA" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>